body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  background-color: #fcb69f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#fcb69f, #ffecd2);
}

#location {
  width: 50px;
  margin: 0 0 75px;
}

#search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  background-color: #fcb69f;
}

.search-bar {
  font-weight: 800;
  background-color: lightblue;
}

.location {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

.weather {
  text-align: center;
}

.temp {
  position: relative;
  display: inline-block;
  border-radius: 16px;
  padding: 15px 25px;
  font-size: 40px;
  font-weight: 900;
}

.feel {
  font-size: 24px;
  font-weight: 700;
}

.description {
  font-size: 24px;
  font-weight: 700;
}

.humid {
  font-size: 24px;
  font-weight: 700;
}

.wind {
  font-size: 24px;
  font-weight: 700;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

main {
  flex-grow: 1;
  text-align: center;
  background-color: #ffecd2;
}

#footer-container {

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffecd2;
}

#header-text  {
  text-align: center;
  background-color: #fcb69f;
}

#footer-text {
  text-align: left;
  bottom: 0;
  background-color: #ffecd2;
}

#img-container {
  width: 7%;
  background-color: #ffecd2;
}

#gitIcon {
width: 100%;
margin: auto;
padding-bottom: 10px;
background-color: #ffecd2;
}